// spacings
$spacing-xs: 0.25rem;
$spacing-s: 0.5rem;
$spacing-m: 1rem;
$spacing-l: 1.5rem;
$spacing-xl: 2rem;
$spacing-xxl: 3rem;

// colors
$color-primary: #ddd;
$color-accent: #fff;
$color-secondary: #111;

// borders
$border-width-s: 1px;

// border radius
$border-radius-m: 8px;
$border-radius-l: 16px;
